.box{
    display:inline-table;
    width: 100%;
    padding: 10%;   
    justify-items: center;

    }

h2{
    color: rgb(114, 160, 212);
    padding-left: 20%;

}

#formulario{
    padding-left: 20%;


}

