.container {
   
	padding:11%;    
	width:100%;
	background-image: url('https://news.cgtn.com/news/2021-02-02/China-busts-fake-COVID-19-vaccine-ring-arrests-80-suspects-XyeWt4vFyU/img/f257e43132244be48737537fe0e5b84f/f257e43132244be48737537fe0e5b84f.png'); 
	background-repeat: no-repeat;
	background-position:center;
	background-size:auto;
}


